/* Colores

#580259 primary
#260126 dark
#F27244 secondary
#BF4B54 danger
#F2A488 light 

*/

html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {}

.container {
  width: 80%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mr-1 {
  margin-right: 1rem;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.text-white {
  color: #ffffff;
}

.bg-primary {
  background-color: #2d2c59;
}

.bg-secondary {
  background-color: #bf2a37;
}

.bg-danger {
  background-color: #18261c;
}

.bg-light {
  background-color: #9fbfa7;
}

.bg-dark {
  background-color: #151226;
}

.font-100 {
  font-weight: 100;
}

.text-center {
  text-align: center;
}

/* Componentes */
.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  background-color: #2d2c59;
}

/* Práctica Flexbox */

.navbar {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.navbar-menu a {
  color: white;
}

.navbar-menu a:hover {
  background-color: black;
}

/* Main seccion */
.center {
  text-align: center;
  margin: 3rem 0;
}

.center h1 {
  font-weight: 300;
  color: #383e56;
}

.center hr {
  border-style: solid;
  border-color: #383e56;
}

.main-card {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  flex: 1;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  color: #383e56;
}

.card-text {
  line-height: 1.5;
}

.card a:hover {
  background-color: black;
}

/* Vertical Card */
.vertical-card {
  margin: 5rem 0;
  display: flex;
  align-items: center;
}

.vertical-card img {
  width: 400px;
}

.vertical-card-content {
  padding: 0 3rem;
  color: white;
}

.vertical-card-content h3 {
  font-weight: 300;
  font-size: 2rem;
}

.vertical-card-content p {
  font-weight: 300;
}

.vertical-card-contentd hr {
  border-style: solid;
  border-color: white;
}

/* Responsive */
@media (max-width: 1090px) {

  /* navbar */
  .navbar {
    flex-direction: column;
  }

  .navbar-menu {
    margin-top: 2rem;
  }

  /* Vertical Card  */
  .vertical-card img {
    width: 300px;
  }
}

@media (max-width: 860px) {

  /* card */
  .main-card {
    flex-direction: column;
  }

  /* Vertical Card  */
  .vertical-card {
    flex-direction: column;
  }

  .vertical-card-content {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .vertical-card img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 685px) {

  /* navbar */
  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu a {
    margin-right: 0;
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* Galeria */
.galeria {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.galeria img {
  width: 100%;
}